<h1>About Me</h1>
<p>I am 22 years old and learning to code as a student at Bottega. I'm learning Ruby, as well as Ruby on Rails, HTML, and CSS. When I'm not programming you may find me rock climbing, snowboarding, or just playing video games. I love coding because there's always something new to learn, and new ways to improve my skills in any particular aspect of coding.</p>
