<h1>Contact Me</h1>

<hr>

<div class="row">
	<div class="col-md-6">
		<h3>My Address</h3>

		<p>2040 N  900 W, Lehi, UT 84043</p>

		<h3>Phone</h3>

		<p><%= number_to_phone "4357578703" %></p>

		<h3>Email</h3>

		<p><a href="mailto:tysonsbloxham@gmail.com?subject="PortfolioContact" "email me">Email me</a> </p>
	</div>

	<div class="col-md-6">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3037.8239865974865!2d-111.86573648448743!3d40.41274987936557!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x874d7ff38fe12189%3A0x58f05aad60da214f!2s2040+N+900+W+St%2C+Lehi%2C+UT+84043!5e0!3m2!1sen!2sus!4v1498077423271" width="450" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
	</div>
</div>
