<div class="inner cover">
  <h1 class="cover-heading">Welcome</h1>
  <p class="lead">This portfolio is meant as a display of some of the coding skills I possess as well as a small introduction to who I am. Feel free to have a look around.</p>
  <p class="lead">
	  <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>

